<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Project</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
  <%- include('partials/navbar', { page: "/solutions/addProject" }) %>

    <div class="container mx-auto p-6">

      <div class="hero bg-base-200 rounded-lg p-6 mt-8">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Add Project</h1>
            <p class="py-6">Use the below form to add a new Project to the collection</p>
          </div>
        </div>
      </div>
      <br>
      <form action="/solutions/addProject" method="POST" class="space-y-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">

          <div>
            <label for="title" class="block font-medium my-2">Title</label>
            <input type="text" id="title" name="title" required class="w-full p-2 border rounded" />
          </div>

          <div>
            <label for="feature_img_url" class="block font-medium my-2">Feature Image URL</label>
            <input type="url" id="feature_img_url" name="feature_img_url" placeholder="" required
              class="w-full p-2 border rounded" />
          </div>

          <div>
            <label for="sector_id" class="block font-medium my-2">Sector</label>
            <select id="sector_id" name="sector_id" required class="w-full p-2 border rounded">
              <% sectors.forEach(sector=> { %>
                <option value="<%= sector.id %>">
                  <%= sector.sector_name %>
                </option>
                <% }) %>
            </select>
          </div>

          <div>
            <label for="intro_short" class="block font-medium my-2">Intro</label>
            <textarea id="intro_short" name="intro_short" placeholder="" required
              class="w-full p-2 border rounded h-40"></textarea>
          </div>

          <div>
            <label for="summary_short" class="block font-medium my-2">Summary</label>
            <textarea id="summary_short" name="summary_short" placeholder="" required
              class="w-full p-2 border rounded h-40"></textarea>
          </div>

          <div>
            <label for="impact" class="block font-medium my-2">Impact</label>
            <textarea id="impact" name="impact" placeholder="" required 
              class="w-full p-2 border rounded h-40"></textarea>
          </div>

          <div>
            <label for="url" class="block font-medium my-2">Original Source URL</label>
            <input id="url" type="url" name="original_source_url" placeholder="" required
              class="w-full p-2 border rounded" />
          </div>
        </div>
        <div class="flex justify-end">
          <button type="submit" class="btn btn-primary">Add Project</button>
        </div>
      </form>
    </div>

</body>

</html>