<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
  <%- include('partials/navbar', { page: "/login" }) %>

    <main class="container mx-auto p-6">
      <div class="hero bg-base-200 rounded-lg p-6 mt-8 mb-8">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Log In</h1>

            <p class="py-6">Please provide your credentials below</p>

          </div>
        </div>
      </div>

      <form method="POST" action="/login" class="space-y-4">
        <div>
          <label for="userName" class="block font-medium my-2">User Name</label>
          <input type="text" id="userName" name="userName" placeholder="User Name" value="<%= userName %>" required class="w-full p-2 border rounded" />
        </div>
        
        <div>
          <label for="password" class="block font-medium my-2">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" required class="w-full p-2 border rounded" />
        </div>
        <button type="submit" class="btn btn-primary w-full">Login</button>
      </form>
      <br>
      <% if (errorMessage) { %>
        <div class="alert alert-error">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span>
            <%= errorMessage %>
          </span>
        </div>
      <% } %>
    </main>
</body>

</html>